.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
}

form {
  margin: 0 auto;
}

.column-full {
  width: 100%;
}

.table {
  width: 100%;
  text-align: left;
  line-height: 1.5;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

th {
  background-color: white;
}
