.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  font-family: sans-serif;
}

form {
  margin: 0 auto;
}

.column-full {
  width: 100%;
}

.table {
  width: 100%;
  text-align: left;
  line-height: 1.5;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

th {
  background-color: white;
}

.modal {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.button {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  color: white;
}

#cancel {
  background-color: gray;
}

#confirm {
  background-color: green;
}

textarea {
  height: 10rem;
}

.margin {
  margin: 0.2rem;
}

table,
th,
td {
  border-width: 1px;
  border-color: black;
  border-style: solid;
}
